.searchcard {
    width: 70vw;
    height: 25vh;
    background-color: bisque;
    margin: 30px auto 30px auto;
    border-radius: 12px;
    box-shadow: 7px 7px 5px darkgrey;
    
}
.searchcard:hover {
    background-color: rgb(203, 161, 110);
}
.card_text {
    font-size: 27px;
    margin: 20px;
}
.sm_card_text {
    font-size: 18px;
    margin: 20px;
}
.link {
   text-decoration: 'none';
}