
.centre {
    text-align: center;
}

@font-face{
    font-family:'clock';
    src: url('../assets/digital-7.ttf');
}

.digital_clock {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: clock;
    font-size: 40px;
}
.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 10px auto;
    align-items: center;
    gap: 10%;
}
.calculator {
    width: 25vw;
    height: 15vh;
    margin: auto;
}
.leftinput {
    float: left;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 60px;
    vertical-align: top;
    background-color: lightblue;
    text-align: right;
    border: none;
}
.rightinput {
    float: right;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 60px;
    vertical-align: top;
    background-color: lightblue;
    border: none;
}
